html
{
	background: #C9C6C3 url("../images/eliza-bg-sepia2.jpg") repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u1892
{
	z-index: 2;
	width: 987px;
	position: relative;
	margin-right: -987px;
	margin-top: 117px;
	left: -38px;
}

#u1846
{
	z-index: 4;
	width: 900px;
	border-style: none;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -900px;
	margin-top: 376px;
}

#u1846_position_content
{
	margin-top: 20px;
}

#u1844
{
	z-index: 5;
	width: 983px;
	left: -44px;
	position: relative;
}

#u1837-4
{
	z-index: 50;
	width: 811px;
	min-height: 20px;
	padding-bottom: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 28px;
	font-weight: normal;
	font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif;
	margin-left: 47px;
	margin-top: 212px;
	position: relative;
}

#u1894
{
	z-index: 48;
	width: 810px;
	margin-left: 48px;
	margin-top: 249px;
	position: relative;
}

#pu1900
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 5px;
	position: relative;
}

#u1900
{
	z-index: 9;
	width: 166px;
	position: relative;
	margin-right: -166px;
}

#u1898-8
{
	z-index: 40;
	width: 228px;
	min-height: 53px;
	text-align: right;
	font-size: 11px;
	color: #000000;
	font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif;
	position: relative;
	margin-right: -228px;
	margin-top: 10px;
	left: 578px;
}

#u1842
{
	z-index: 7;
	width: 399px;
	position: relative;
	margin-right: -399px;
	margin-top: 167px;
	left: 272px;
}

#u1840
{
	z-index: 11;
	width: 25px;
	position: relative;
	margin-right: -25px;
	margin-top: 374px;
	left: -14px;
}

#u1896
{
	z-index: 13;
	width: 82px;
	position: relative;
	margin-right: -82px;
	margin-top: 455px;
	left: 900px;
}

#u1892_img,#u1844_img,#u1894_img,#u1900_img,#u1842_img,#u1840_img,#u1896_img
{
	vertical-align: top;
}

#menuu1847
{
	z-index: 15;
	width: 682px;
	position: relative;
	margin-right: -682px;
	margin-top: 403px;
	left: 110px;
}

#u1864
{
	width: 94px;
	min-height: 24px;
	margin-right: -94px;
	position: relative;
}

#u1865
{
	width: 94px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1868-4
{
	width: 52px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -54px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1865:hover #u1868-4
{
	background-color: transparent;
}

#u1871
{
	width: 200px;
	min-height: 24px;
	margin-right: -200px;
	position: relative;
	left: 94px;
}

#u1874
{
	width: 200px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1865:active #u1868-4,#u1874:hover
{
	background-color: transparent;
}

#u1875-4
{
	width: 158px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -160px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1865.MuseMenuActive #u1868-4,#u1874:hover #u1875-4
{
	background-color: transparent;
}

#u1878
{
	width: 202px;
	min-height: 24px;
	margin-right: -202px;
	position: relative;
	left: 294px;
}

#u1879
{
	width: 202px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1874:active #u1875-4,#u1879:hover
{
	background-color: transparent;
}

#u1881-4
{
	width: 160px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -162px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1874.MuseMenuActive #u1875-4,#u1879:hover #u1881-4
{
	background-color: transparent;
}

#u1885
{
	width: 186px;
	min-height: 24px;
	margin-right: -186px;
	position: relative;
	left: 496px;
}

#u1886
{
	width: 186px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1879:active #u1881-4,#u1886:hover
{
	background-color: transparent;
}

#u1865.MuseMenuActive,#u1874:active,#u1879:active,#u1886:active
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1886.MuseMenuActive
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1888-4
{
	width: 144px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -146px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1879.MuseMenuActive #u1881-4,#u1886:hover #u1888-4
{
	background-color: transparent;
}

#u1886:active #u1888-4
{
	background-color: transparent;
}

#u1886.MuseMenuActive #u1888-4
{
	background-color: transparent;
}

#u1865:active #u1868-4 p,#u1874:active #u1875-4 p,#u1879:active #u1881-4 p,#u1886:active #u1888-4 p
{
	font-weight: bold;
	text-decoration: none;
}

#u1865:hover #u1868-4 p,#u1865.MuseMenuActive #u1868-4 p,#u1874:hover #u1875-4 p,#u1874.MuseMenuActive #u1875-4 p,#u1879:hover #u1881-4 p,#u1879.MuseMenuActive #u1881-4 p,#u1886:hover #u1888-4 p,#u1886.MuseMenuActive #u1888-4 p
{
	font-weight: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	padding-bottom: 120px;
}

