html
{
	background: #C9C6C3 url("../images/eliza-bg-sepia2.jpg") repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u1595
{
	z-index: 2;
	width: 987px;
	position: relative;
	margin-right: -987px;
	margin-top: 117px;
	left: -38px;
}

#u1497
{
	z-index: 4;
	width: 900px;
	border-style: none;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -900px;
	margin-top: 376px;
}

#u1497_position_content
{
	margin-top: 20px;
	margin-bottom: 6px;
}

#u1556
{
	z-index: 5;
	width: 983px;
	left: -44px;
	position: relative;
}

#u1564
{
	z-index: 48;
	width: 810px;
	margin-left: 48px;
	margin-top: 630px;
	position: relative;
}

#pu1552
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 5px;
	position: relative;
}

#u1552
{
	z-index: 9;
	width: 166px;
	position: relative;
	margin-right: -166px;
}

#u1558-8
{
	z-index: 40;
	width: 228px;
	min-height: 47px;
	text-align: right;
	font-size: 11px;
	color: #000000;
	font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif;
	position: relative;
	margin-right: -228px;
	margin-top: 10px;
	left: 578px;
}

#u1559
{
	z-index: 7;
	width: 399px;
	position: relative;
	margin-right: -399px;
	margin-top: 167px;
	left: 272px;
}

#u1554
{
	z-index: 11;
	width: 25px;
	position: relative;
	margin-right: -25px;
	margin-top: 374px;
	left: -14px;
}

#u1550
{
	z-index: 13;
	width: 82px;
	position: relative;
	margin-right: -82px;
	margin-top: 455px;
	left: 900px;
}

#u1595_img,#u1556_img,#u1564_img,#u1552_img,#u1559_img,#u1554_img,#u1550_img
{
	vertical-align: top;
}

#menuu1498
{
	z-index: 15;
	width: 681px;
	position: relative;
	margin-right: -681px;
	margin-top: 403px;
	left: 109px;
}

#u1536
{
	width: 94px;
	min-height: 24px;
	margin-right: -94px;
	position: relative;
}

#u1539
{
	width: 94px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1541-4
{
	width: 52px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -54px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1539:hover #u1541-4
{
	background-color: transparent;
}

#u1499
{
	width: 202px;
	min-height: 24px;
	margin-right: -202px;
	position: relative;
	left: 94px;
}

#u1500
{
	width: 202px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1501-4
{
	width: 160px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -162px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1539:active #u1541-4,#u1500:hover #u1501-4
{
	background-color: transparent;
}

#u1522
{
	width: 199px;
	min-height: 24px;
	margin-right: -199px;
	position: relative;
	left: 296px;
}

#u1523
{
	width: 199px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1539:hover,#u1523:hover
{
	border-style: none;
	background-color: transparent;
}

#u1526-4
{
	width: 157px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -159px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1539.MuseMenuActive #u1541-4,#u1500:active #u1501-4,#u1523:hover #u1526-4
{
	background-color: transparent;
}

#u1529
{
	width: 186px;
	min-height: 24px;
	margin-right: -186px;
	position: relative;
	left: 495px;
}

#u1532
{
	width: 186px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 8px;
	position: relative;
}

#u1532:hover
{
	border-style: none;
	background-color: transparent;
}

#u1539:active,#u1523:active,#u1532:active
{
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1500.MuseMenuActive,#u1532.MuseMenuActive
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1533-4
{
	width: 144px;
	min-height: 16px;
	border-style: none;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: Century Gothic, Apple Gothic, sans-serif;
	margin-right: -146px;
	position: relative;
	top: 4px;
	left: 20px;
}

#u1500.MuseMenuActive #u1501-4,#u1523:active #u1526-4,#u1532:hover #u1533-4
{
	background-color: transparent;
}

#u1523.MuseMenuActive #u1526-4,#u1532:active #u1533-4
{
	background-color: transparent;
}

#u1532.MuseMenuActive #u1533-4
{
	background-color: transparent;
}

#u1539:active #u1541-4 p,#u1500:active #u1501-4 p,#u1523:active #u1526-4 p,#u1532:active #u1533-4 p
{
	font-weight: bold;
	text-decoration: none;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1496-30
{
	z-index: 50;
	width: 900px;
	min-height: 233px;
	padding-bottom: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif;
	position: relative;
	margin-right: -900px;
	margin-top: 553px;
}

#u1496-2,#u1496-17,.where-name
{
	font-size: 30px;
	font-weight: normal;
}

.where-name a {
	font-size: 30px;
	font-weight: normal;
	text-decoration: none;		
}

#u1496-9,#u1496-24,.where-phone
{
	font-size: 12px;
	font-weight: normal;
}

#u1496-4,#u1496-6,#u1496-7,#u1496-10,#u1496-14,#u1496-15,#u1496-19,#u1496-21,#u1496-22,#u1496-25,.where-address
{
	font-size: 16px;
	font-weight: normal;
}

#u1496-13,#u1496-28,
{
	font-size: 16px;
	font-weight: bold;
}

.where-link {
	font-size: 16px;
	font-weight: normal;
}

#u1539:hover #u1541-4 p,#u1539.MuseMenuActive #u1541-4 p,#u1500:hover #u1501-4 p,#u1500.MuseMenuActive #u1501-4 p,#u1523:hover #u1526-4 p,#u1523.MuseMenuActive #u1526-4 p,#u1532:hover #u1533-4 p,#u1532.MuseMenuActive #u1533-4 p,#u1496-11,#u1496-26,
{
	font-weight: normal;
}

body
{
	padding-bottom: 120px;
}

